@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-left {
  width: 50vw;
  height: 100vh;
  background-color: #ebb699;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
}

.main-right {
  width: 50vw;
  height: 100vh;
  background-color: #7fb7eb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
}

.notes {
  width: 100vw;
  height: 100vh;
}

.notes-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.notes-item {
  width: 300px;
  height: 200px;
  background-color: #ebb699;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
/* @media all and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
} */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/* @media all and (min-width: 480px) and (max-width: 767px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
} */

/* 모바일 세로 (해상도 ~ 479px)*/
/* @media all and (max-width: 479px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
} */
